.DS_Store
node_modules
jspm_packages
.serverless
lib
coverage
dist/
build/
dev/
.vscode/
*.code-workspace
.idea
*.log
src_old
*.old.js
phaserTilemapfix
*.zip
legacy*
dump/
*.docx
*.patch
*.bak*
*.old*
higherVolume/